.card {
    background-color: white;
    margin: 2.5rem;
    padding: 1rem;
    border-radius: 15px;

}

.card>p {
    padding: 0.8rem 0;


}

.content {
    display: flex;
    padding: 1rem;
}

.content>p {
    padding: 0 2rem;
}

.actionContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.actionContainer>div {
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.actionContainer>a {
    background-color: purple;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.actionContainer>a:hover {
    background-color: rgb(223, 10, 223);

}

.tagsContainer>p {
    background: rgb(233, 60, 186);
    background: linear-gradient(90deg, rgba(233, 60, 186, 0.8435749299719888) 35%, rgba(194, 233, 58, 1) 100%);
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
    cursor: pointer;
}

/* media query */

@media only screen and (max-width: 700px) {
    .card{
        /* width: 90%; */
        margin: 10px;
    }
}