.appTitle {
    text-align: center;
    /* margin-top: 0.8rem; */
    background-color: black;
    color: white;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
}

.container {
    display: flex;
}

.mainSection {
    width: 75%;
    margin-top: 3rem;
    overflow-y: scroll;
    height: 90vh;
}

.mainSection::-webkit-scrollbar {
    width: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

.mainSection::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    /* background-color: aqua; */
    background: rgb(244, 122, 34);
    background: linear-gradient(90deg, rgba(244, 122, 34, 0.8435749299719888) 63%, rgba(232, 215, 13, 1) 91%);
}



.sidebar {
    background-color: white;
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 5.5rem;
    right: 2.5rem;
    border-radius: 10px;
}

.sidebar>h3 {
    padding: 1rem;
    text-decoration: underline;
}

.sidebar>ul {
    list-style-type: none;
    padding: 0.5rem 1rem;
}

.sidebar>ul>li {
    padding: 0.3rem;
    color: purple;
    text-decoration: underline;
    cursor: pointer;
}

.sidebar>ul>li:hover {

    color: rgb(86, 129, 108);

}

/* media query */

@media only screen and (max-width: 700px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainSection {
        width: 90%;
        height: auto;
        overflow-y: hidden;
    }

    .sidebar {
        position: static;
        width: 90%;
    }
}